.movie-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 14px;
}

.left {
	height: auto;
	width: auto;

	background: #616161;
	border-radius: 25px;
	padding: 15px;
	margin-right: 25px;

	text-align: center;
	color: #F5F5F5;
}

.movie-container .button-wrapper {
	flex-direction: column;
}